/* PAGE RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*  ----- PAGE DESIGN PART ----- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Total width will include paddings and borders */
  font-size: 62.5%;
  /* defining 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
  position: relative;
}

/*-------------------------------------
---------------------------------------
----- SECTION 1 - Header + Navbar -----
---------------------------------------
-------------------------------------*/
#section1 {
  height: 100vh;
  background-image: url(../img/sirop-soc-top.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
}

#section1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 5rem;
}

#section1 nav .nav-btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#section1 nav .nav-btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #476e9a;
}

#section1 .center-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#section1 .center-title span {
  font-size: 2rem;
  font-weight: 700;
  padding: 3px 8px;
  margin: 1rem 3px;
  background-color: #fff;
  color: #476e9a;
  display: inline-block;
}

#section1 .center-title span:hover {
  -webkit-transform: translateY(-1rem) scale(1.2);
          transform: translateY(-1rem) scale(1.2);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#section1 .center-title h1 {
  font-family: "Roboto Slab";
  font-size: 2.5rem;
  color: #476e9a;
  letter-spacing: 1.7rem;
  margin: 1rem 0;
  padding: 0;
  font-weight: 300;
}

#section1 .center-title h1:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#section1 .social-btn {
  position: absolute;
  left: 50%;
  bottom: 8rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#section1 .social-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 .social-btn div a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #d3d7e1;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 .social-btn div a:hover {
  background-color: #3c3c3c;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

#section1 .social-btn div a:hover i {
  color: #ebe9e9;
}

#section1 .social-btn div a:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#section1 .social-btn div a i {
  color: #3c3c3c;
  font-size: 12px;
}

#section1 .arrow {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  -webkit-animation: arrow-move 2s infinite;
          animation: arrow-move 2s infinite;
}

@-webkit-keyframes arrow-move {
  50% {
    -webkit-transform: translate(-50%, 2rem);
            transform: translate(-50%, 2rem);
  }
}

@keyframes arrow-move {
  50% {
    -webkit-transform: translate(-50%, 2rem);
            transform: translate(-50%, 2rem);
  }
}

/*-------------------------------------
---------------------------------------
------- SECTION 2 - DESPRE NOI -------
---------------------------------------
-------------------------------------*/
#section2 {
  background-color: #000;
  position: relative;
  margin-top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
}

@media only screen and (min-width: 1112px) {
  #section2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}

@media only screen and (min-width: 1600px) {
  #section2 section {
    width: 160rem;
    margin: auto;
  }
}

#section2 #about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section2 #about-us h1 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

#section2 #about-us p {
  color: #c7c7c7;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  width: 90%;
  margin-bottom: 3rem;
}

#section2 .about-us-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 1rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 600px) {
  #section2 .about-us-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1112px) {
  #section2 .about-us-cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#section2 .about-us-cards div {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin: 2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
}

#section2 .about-us-cards div h3 {
  margin-bottom: 2rem;
}

#section2 .about-us-cards div p {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

/*-------------------------------------
---------------------------------------
------- SECTION 3 - PRODUSE -------
---------------------------------------
-------------------------------------*/
#section3 h1 {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  margin: 5rem 0;
}

#section3 .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section3 .products .products-card {
  position: relative;
  width: 40rem;
  margin: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 2px #3c3c3c;
          box-shadow: 1px 1px 2px #3c3c3c;
  overflow: hidden;
}

#section3 .products .products-card .products-img {
  display: block;
  width: 100%;
  height: auto;
}

#section3 .products .products-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(60, 60, 60, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#section3 .products .products-card .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35rem;
  text-align: center;
}

#section3 .products .products-card .overlay .text h2 {
  margin-bottom: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

#section3 .products .products-card .overlay .text p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 0;
}

#section3 .products .products-card .overlay .text a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.3rem 1.5rem;
  margin-top: 1rem;
  border: 1px solid tan;
  border-radius: 1rem;
}

#section3 .products .products-card .overlay .text a:hover {
  background-color: rgba(210, 180, 140, 0.5);
}

#section3 .products .products-card:hover .overlay {
  height: 100%;
}

#section3 .products .products-card:hover {
  -webkit-animation: shadowmove 3s infinite;
          animation: shadowmove 3s infinite;
}

#section3 .products .products-card .close-modal-product {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: gray;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  background: none;
}

#section3 .products .products-card .hidden {
  display: none;
}

#section3 .products .products-card .modal-product {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  border-radius: 1rem;
  z-index: 18;
  color: gray;
  overflow: scroll;
}

@media only screen and (max-width: 992px) {
  #section3 .products .products-card .modal-product {
    width: 95%;
    padding: 4rem;
    font-size: 1.4rem;
    letter-spacing: normal;
  }
}

#section3 .products .products-card .modal-product h3 {
  margin-bottom: 1rem;
}

#section3 .products .products-card .modal-product p {
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  margin: 1rem 0;
}

#section3 .products .products-card .overlay-modal-product {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 17;
}

@-webkit-keyframes shadowmove {
  50% {
    -webkit-box-shadow: 7px 7px 10px #3c3c3c;
            box-shadow: 7px 7px 10px #3c3c3c;
  }
}

@keyframes shadowmove {
  50% {
    -webkit-box-shadow: 7px 7px 10px #3c3c3c;
            box-shadow: 7px 7px 10px #3c3c3c;
  }
}

/*-------------------------------------
---------------------------------------
------- SECTION 4 - CUM COMAND -------
---------------------------------------
-------------------------------------*/
#section4 {
  background-image: url(../img/nature.jpg);
  height: 115rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (min-width: 600px) {
  #section4 {
    height: 70rem;
  }
}

@media only screen and (min-width: 1112px) {
  #section4 {
    height: 50rem;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
}

#section4 .container-hto {
  width: 80%;
  background-color: rgba(210, 180, 140, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 1600px) {
  #section4 .container-hto {
    width: 150rem;
  }
}

#section4 .container-hto h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#section4 .container-hto .how-to-order {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  #section4 .container-hto .how-to-order {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1112px) {
  #section4 .container-hto .how-to-order {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#section4 .container-hto .hto-steps {
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1rem;
}

#section4 .container-hto .hto-steps i {
  font-size: 4.5rem;
  margin-top: 2rem;
}

#section4 .container-hto .hto-steps h3 {
  margin: 2rem;
}

#section4 .container-hto .hto-steps p {
  margin: auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

/*-------------------------------------
---------------------------------------
--------- SECTION 5 - CONTACT ---------
---------------------------------------
-------------------------------------*/
#section5 .container-contact {
  width: 80%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section5 .container-contact h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#section5 .container-contact p {
  margin: 0.5rem 0;
  font-size: 1.7rem;
  text-align: center;
  line-height: 4.5rem;
  color: rgba(60, 60, 60, 0.4);
}

#section5 .container-contact p span {
  color: tan;
}

#section5 .container-contact p .span-small {
  font-size: 2.3rem;
  font-weight: 300;
}

#section5 .container-contact p .span-big {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#section5 .container-contact a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: tan;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid tan;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#section5 .container-contact a:hover {
  color: tan;
  background-color: #fff;
}

#section5 .container-contact a:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#section5 .container-contact .close-modal-form {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: gray;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  background: none;
}

#section5 .container-contact .hidden {
  display: none;
}

#section5 .container-contact .modal-form {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6rem;
  border-radius: 1rem;
  z-index: 18;
  color: gray;
  overflow: scroll;
}

@media only screen and (max-width: 992px) {
  #section5 .container-contact .modal-form {
    width: 95%;
    padding: 4rem;
    font-size: 1.4rem;
    letter-spacing: normal;
  }
}

#section5 .container-contact .modal-form p {
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

#section5 .container-contact .overlay-modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 17;
}

/*-------------------------------------
---------------- FOOTER ---------------
---------------------------------------
-------------------------------------*/
footer {
  text-align: center;
  padding: 2rem;
  background-color: #000;
}

footer p {
  color: #fff;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */